:root {
  --main-purple: #9E78CF;
  --dark-purple: #3e1671;
  --accent-green: #78CFB0;
}

.container {
  padding: 0 275px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.header {
  margin: 75px 0 60px;
}

.header__inner {
  display: flex;
  align-items: center;
  gap: 0 20px;
}

.input {
  width: 100%;
  border: 1px solid var(--dark-purple);
  border-radius: 10px;
  font-size: 16px;
  color: #fff;
  padding: 10px 15px;
}

.input::placeholder {
  color: #777;
}

.add {
  min-width: 40px;
  min-height: 40px;
  background-color: var(--main-purple);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tasks__info,
.done__info {
  color: #fff;
  font-size: 16px;
}

.task {
  width: 100%;
  padding: 28px 20px;
  margin-top: 16px;
  background-color: #15101C;
  border-radius: 10px;
  color: var(--main-purple);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.task__user-actions {
  display: flex;
  align-items: center;
  gap: 0 8px;
}

.done-button,
.delete-button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.done-button,
.delete-button {
  svg path {
    transition: fill 0.2s;
  }
}

.done-button:hover,
.delete-button:hover {
  svg path {
    fill: var(--dark-purple);
  }
}

.done {
  margin-top: 60px;
}

.done__task-title {
  color: var(--accent-green);
  text-decoration: line-through;
}